// SCSS Document

@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  background: #FFF;
  margin: 0;
  padding: 0;
}

#wrapper-top {
  text-align: center;
  margin-top: 10%;
}

#wrapper-nav {
  text-align: center;
  margin-top: -5%;
}

#name {
  font: 225% 'Bungee', cursive;
  display: block;
}

#content {
  margin: 0;
  text-align: center;
}

#nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;

    li {
      display: inline-block;
      background: #AFD5F7;
      padding: 0;
      margin: .3%;
  
      a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        font: 145% 'Slabo 27px', serif;
        padding: 30px 60px;
      }
      
      a:hover {
        background: #7DABD4;
      }
    }
  }
}
